// Rio Grande do Norte Flag Colors
$rn-green: #009B3A;
$rn-white: #FFFFFF;
$rn-yellow: #FFDF00;
$rn-red: #CE1126;

$primary: $rn-green;
$secondary: $rn-yellow;
$brand-color: $rn-green;
$white: $rn-white;
